.mainPage {
  background-color: #F1E3D3;
  display: flexbox;
}

.mainHeader {
  display: flex;
  font-size: 64px;
  color: black;
  align-items: center;
  justify-content: center;
}

.subtitle {
  display: flex;
  font-size: 24px;
  font-style: oblique;
  justify-content: center;
  font-family: 'Indie Flower', cursive;
}

.myPackDiv {
  border: 2px dashed black;
}

.fullPackDiv {
  border: 2px dashed black;
}

.myPackList {
  list-style-type: none;
  border: black 1px;
}

.myPackListDiv {
  display: flexbox;
  justify-content: left;
  height: 200 px;
  width: 40%;
  border: 2px solid black;
}

.packMember {
  display: flex;
  justify-content: space-between;
  width: 20%;
  border: 1px solid gray;
  padding: 5px;
  margin: 10px;
}

.addToPackButton {
  box-shadow: 0px 10px 14px -7px #276873;
  background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
  background-color:#599bb3;
  border-radius: 8px;
  display: inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family: Arial;
  font-size:14px;
  font-weight: bold;
  padding: 5px 10px;
  text-decoration: none;
  text-shadow:0px 1px 0px #3d768a;
  }

  .addToPackButton:hover {
    background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    background-color:#408c99;
  }

  .addToPackButton:active {
    position: relative;
    top: 1px;
  }

  .pickPack {
    font-size: 24px;
    font-style: bold;
    font-family: 'Indie Flower', cursive;
    overflow-y: scroll;
    height: 300px;
  }

  .choosePack {
    display: flexbox;
    font-size: 16px;
    font-family: 'Indie Flower', cursive;
    list-style-type: none;
    flex-direction: row;    
  }

  .amMeal {
    font-size: 16px;
  }

  .mealInfo {
    font-size: 12px;
  }

  .vetInfoBox {
    font-size: 16px;
  }

  .vetInfo {
    font-size: 12px;
  }